#mainVisual {
  height: 100vh;
  display: flex;
  align-items: center;
}
#mainVisual svg path {
  fill: none;
  stroke: #ff0000;
  stroke-width: 5px;
}
#mainVisual svg path.path01 {
  stroke-dasharray: 1425;
  stroke-dashoffset: 1425;
  animation: drawPath01 1s linear 1s 1 forwards;
}
#mainVisual svg path.path02 {
  stroke-dasharray: 2149;
  stroke-dashoffset: 2149;
  animation: drawPath02 1s linear 2s 1 forwards;
}
#mainVisual svg path.path03 {
  stroke-dasharray: 1425;
  stroke-dashoffset: 1425;
  animation: drawPath03 1s linear 3s 1 forwards;
}

@keyframes drawPath01 {
  0% {
    stroke-dashoffset: -1425;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawPath02 {
  0% {
    stroke-dashoffset: -2149;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes drawPath03 {
  0% {
    stroke-dashoffset: -1425;
  }
  100% {
    stroke-dashoffset: 0;
  }
}