#mainVisual {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1d6d7;
}
#mainVisual .svgBox {
  padding: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}
#mainVisual svg {
  height: 600px;
  background-color: #f8f8f8;
  padding: 50px;
  border: 1px solid #ddd;
}
#mainVisual svg path {
  stroke-width: 2px;
}
#mainVisual .title {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 7.5vw;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 900;
  overflow: hidden;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  font-family: "Nunito";
}